.home {
  &__navBar {
    width: 100%;
    height: 427px;
    background: url('https://h5.yueyuechuxing.cn/pintu/imgs/8664a3bea6aa16cdfb6809dfe5ff846e.png') no-repeat;
    background-size: 100%;
  }
  &__title {
    color: rgba(0, 0, 0, 0.9);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 24px;
  }
  &__task {
    margin: 0 28px;
    height: 56px;
  }
}