.scanFail {
  &__navBar {
    width: 100%;
    height: 126px;
    background: url('https://h5.yueyuechuxing.cn/pintu/imgs/b01f3aa9476e3efe4c4762b44cd67294.png') no-repeat;
    background-size: 100%;
  }
}